body {
  background-color: aquamarine;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-img-top {
  width: 300px;
  height:300px;
margin: auto;
}
